.Main {
    background-image: url("./Assets/bg02.jpg");
    position:absolute;
    height: 200%;
    width: 100%;
    size-adjust:inherit;
}

.Buttons {
    margin-left: 20px;
}


.Card {
    border-radius: 20px;
    opacity: 85%;

}
.about
{
    text-align: center;
    background-image: url("./Assets/bg04.jpg");
    position: absolute;
    
}

.tourni
{
    text-align: center;
    font-family: serif;
    background-image: url("./Assets/bg05.jpg");
    border-radius: 20px;
}

.icon
{
    margin-top: 8px;
    margin-left: 20px;

}

.para
{
    font-family: monospace;
    animation: ease-in;
}

.Footer
{
    font-family: cursive;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 10px;
}